%h2 All Teams

%table#teams
  %thead
    %tr
      %th City
      %th Name
      %th League
      %th Select Team
  %tbody
  -@teams.each do |team|
    %tr
      %td= team.city
      %td= team.name
      %td= team.league
      %td= link_to "View Bundles for #{team.name}", team_path(Bundle)
